@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 96%;
    --primary-text: 0, 0%, 27%;
    --secundary-text: 0, 0%, 57%;
    --section-title: 348, 62%, 47%;
    --sub-title: 0, 0%, 9%;
    --line-height: 1.5rem;
    --radius: 0.5rem;
    --card: 0, 0%, 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply h-full bg-background text-foreground;
  }
  html {
    @apply h-full;
  }
}
