@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 96%;
    --foreground: 0, 0%, 27%;

    --card: 0 0% 100%;
    --card-foreground: 0, 0%, 100%;

    --primary: 350, 69%, 45%;
    --primary-foreground: 0 0% 100%;

    --radius: 0.5rem;
    --line-height: 1.5rem;

    --input: 348, 62%, 47%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply h-full bg-background text-foreground;
  }
  html {
    @apply h-full;
  }
}
